<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
    <Properties>
        <Property name="log-format">[%d{yyyy-MM-dd HH:mm:ss.SSS}][%t][%-4p] %c{16} - %m%n</Property>
        <Property name="logfile-name">/var/log/factorio/discord_bot.log</Property>
        <Property name="logfile-archive">/var/log/factorio/discord_bot_%i.log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${log-format}"/>
        </Console>
        <RollingFile name="Logfile" append="true" fileName="${logfile-name}" filePattern="${logfile-archive}">
            <PatternLayout pattern="${log-format}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="${filtering.logLevel}">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Logfile"/>
        </Root>
        <Logger name="net.dv8tion.jda" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>